.breadcrumb-button{
border:0px;
border-radius:0px;
background:green;
color:white;
padding:10px 10px 10px 10px;
}
.left-section{
width:70%;
margin:0px;
padding:0px;
float:left;
background: floralwhite;
background-color: white;
border-right: 0.1px solid darkgray;
}
.right-section{
width:30%;
margin:0px;
padding:0px;
float:right;
height: -webkit-fill-available;
max-height:728px auto;
background: floralwhite;
background-color: white;
}
section.login_sec {
    padding-bottom: 0px !important;
}
.apply-h41{
background:darkgray;
opacity:0.5;
padding:10px 15px 10px 15px;
margin:0px 0px 10px 0px;
text-align:center;
color:white;
font-weight:600;
}
.apply-h42{
background:darkgray;
opacity:0.5;
padding:10px 15px 10px 15px;
margin:250px 0px 10px 0px;
text-align:center;
color:white;
font-weight:600;
}
.apply-h43{
background:darkgray;
opacity:0.5;
padding:10px 15px 10px 15px;
margin:100px 0px 10px 0px;
text-align:center;
color:white;
font-weight:600;
}
.apply-h44{
background:darkgray;
opacity:0.5;
padding:10px 15px 10px 15px;
margin:100px 0px 10px 0px;
text-align:center;
color:white;
font-weight:600;
}
.apply-label{
font-size:small;
font-weight:600; 
color:black;
text-align:left;
}
.input-form-apply{
border:0px !important;
border-radius:0px !important;
background:#f2f2f2 !important;
box-shadow:none !important;
}
option {
font-size: small;
}
select{
padding:9px 0px;
font-size: 0.75rem;
line-height: 2;
}
select#visatype, select#noofadult, select#noofchild, select#title, select#airline, select#otb {
width: 100%;
}
.submit-button{
text-align:center;
width:100%;
}
.visa-fee{
text-align: center !important;
font-size: unset;
font-weight: 600;
margin-top: 10px;
border-bottom: 1px solid red;
}
.visa-type>p, .otb-charges>p{
color:black !important;
font-size:small !important;
}
.border-line{
border-bottom:1px solid green;
}
.left-p{
width:50%;
float:left;
text-align:left;
padding-left:10px;
margin-bottom:0.5rem;
}
.right-p{
width:50%;
float:right;
text-align:right;
padding-right:10px;
margin-bottom:0.5rem;
}
.active-class{
background:yellow !important;
}
.express-service{
font-size:12px !important;
}
.express-service p{
color:black !important;
font-size:12px !important;
}
#passenger p{
    color:black !important;
}
.modal-backdrop {
    z-index: 0 !important;
}
#process_visa{
    border:0;border-radius:0px;color:#fff;background:red;width:90%;height:40px;
}