@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: #333;
	line-height: 1;
	background-color:#eee;
}
a {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: #333;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #ff8000;
}
a:active {
	text-decoration: none;
}
.wrapper {
	max-width:1280px;
	width:95%;
	margin:auto;	
}
.split {
    clear: both;
}
header {
	width:100%;
	height:100px;
}
.logo {
	float:left;
	margin: 12px 0 0 10px;
	position:relative;
	font-size:30px;
	width:130px;
}
.logo img {
	width:100%;
}
.navigation {
	float:left;
	margin: 30px 0 0 20px;
	position:relative;
}
.navigation ul {
	width:auto;
}
.navigation ul li {
	list-style:none;
	float:left;
	margin: 0 2px 0 2px;

	text-align:center;
}
.navigation ul li a {
	font-size:15px;
	text-transform:uppercase;
	padding: 0px 10px 10px 10px;
	display:block;
	color:#FFF;
	
}
.navigation ul li a:hover {
	color:#fff;
	text-decoration:none;
}
.navigation ul li:hover ul {
	display:block
}
.navigation ul ul {
	display:none;
	background:rgba(0,0,0,0.2);
	width:150px;
	position:absolute;
	z-index:999;
	padding:5px;
}
.navigation ul ul li {
	list-style:none;
	float:none;
	margin: 0px;
	text-align:left;

}
.navigation ul ul li a {
	font-size:14px;
	text-transform:none;
	padding: 6px 10px 6px 10px;
	display:block;
	color:#FFF;
	background:none;
}
.navigation ul ul li a:hover {
	color:#eee;
	background:rgba(0,0,0,0.2);
}
.exwid {
    width: 150px !important;
}
.callus {
	float:right;
	position:relative;
	margin: 18px 10px 0 0px
}
.callus p {
	font-size:16px;
	padding: 10px 15px 10px 15px;
	display:block;
	color:#FFF;
	text-align:right;
}
.callus p a {
	font-size:16px;
	padding: 0px 5px 0px 5px;
	color:#FFF;
}
.topheadbar {
    background-color: #000;
    width: 100%;
}
.topheadbar h1 {
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 100;
    text-align: center;
    padding:  50px 0 150px 0px;
}
#headtopbg {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
	background-attachment:fixed;
}
.ipage {
    width: 100%;
    min-height: 350px;
    padding:  40px 0 40px 0px;
}
.breadcum {
    width: 100%;
    height: 50px;
    background-color: #fff;
}
.currently {
    float: left;
    margin:  18px 0 0 0px;
    text-transform: uppercase;
    color: #666;
    letter-spacing: .5px;
}
.ipage h2 {
    font-size: 35px;
    font-weight: 100;
    color: #666;
    margin-bottom: 25px;
}
.ipage p {
    font-size: 14px;
    margin-bottom: 15px;
	line-height:22px;
}
.listing {
    width: 100%;
}
.listing ul {
    width: auto;
}
.listing ul li {
    list-style: disc !important;
    margin:  0 0 0 20px;
    margin:  15px 0 15px 18px;
    font-size: 15px;
}


.products {
    width: 100%;
    overflow: hidden;
    padding: 10px 0px 0px 0px;
}

.products ul {
    width: auto;
}

.products ul li {
    list-style: outside none none;
    float: left;
    width: 48%;
    margin: 0px 10px 20px;
    background-color: #FFF;
    border: 1px solid #CECECE;
}
.products ul li h4 {
    font-size:  30px;
    font-weight: 100;
    margin:  0 0 10px 0px;
}
.products ul li h3 {
    font-weight: 100;
    font-size: 20px;
    margin:  0 0 10px 0px;
}
.products ul li p {
    font-size: 15px;
    margin:  0 0 25px 0px;
}


.product_image {
    width: 39%;
    float: left;
    margin-top: 6px;
}
.is-sticky .product_image {
    width: 480px !important;
}
.product_image img {
    width: 100%;
}

.product_info {
    width: 58%;
    float: right;
}

.product_info h4 {
    font-size: 22px;
    margin-bottom: 12px;
    color: #515151;
    font-family: "Open Sans",sans-serif;
    margin-top: 25px;
    font-weight: 300;
}
.product_info p {
    font-size: 14px;
    line-height: 22px;
}

.product_info ul {
    margin-bottom: 14px;
}

.product_info ul li {
    margin: 6px 0px;
    line-height: 24px;
    
}
.product_big {
	float:left;
	width:40%;
}
.prod_picture {
	width:100%;	
	border:solid 1px #ddd;
	margin: 20px 0 0 0px;
	background-color:#f7f7f7;
}
.prod_picture img {
	width:100%;

}
.table-data {
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 30px;
    border-collapse: collapse;
}
.table-data thead tr {
        background-color: rgb(33, 136, 177);
    color: rgb(255, 255, 255);
}
.table-data thead tr th {
    border: 1px solid rgb(221, 221, 221);
    line-height: 23px;
    font-family: calibri;
    font-size: 17px;
    font-weight: 500;
    padding: 10px;
}

.table-data thead tbody tr {}

.table-data thead tbody tr td {
    border-right: 1px solid rgb(221, 221, 221);
    border-bottom: 1px solid rgb(221, 221, 221);
    padding: 17px;
}
.table-data tr {
    background-color: #fff;
}
.table-data tr td {
    text-align: center;
    padding: 11px;
    font-size: 14px;
    font-family: calibri;
    border: 1px solid rgb(221, 221, 221);
}

.prod_thumb {
    width: 40% !important;
    float: left !important;
    margin-right: 0px !important;
}

.prod_description {
    width: 58% !important;
    float: right !important;
    margin: 20px 0 0 0px !important;
}
.blink2 {
    background: #666;
    color: #FFF;
    padding: 7px 20px 7px 20px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 12px;
    border: solid 1px #ddd;
    margin:  10px 0 0 10px;
}

:hover.blink2 {
    background: #03833a;
    color: #fff;
    text-decoration: none;
}
.com_produc{
    background:#e9e6e6;
    width:100%;
    padding: 10px 5px 10px 5px;
    border:1px solid #ccc;
    margin-left:10px;
    float:right;
    color: #666;
    text-align: center;
}

footer {
    width: 100%;
    background-color: #1d1c1c;
    min-height: 300px;
}

.botlinks {
	width:100%;
}
.botlinks ul {
	width:20%;
	float:left;
	height:232px;
}
.botlinks ul h3 {
    font-size: 22px;
    font-weight: 100;
    margin: 30px 0 15px 0px;
    text-transform: uppercase;
	color:#ccc;
}
.botlinks ul li {
	list-style:none;
	line-height:28px;
}
.botlinks ul li a {
	font-size:14px;
	color:#CCC;
}
.botlinks ul li a:hover {
	color:#d32828;
}
.red {
	color:#d32828 !important;
	}
.copyright {
	width:100%;
	margin: 20px 0 0 0px;
}
.copyright p {
	margin: 0px;
	font-size:13px !important;
	color:#999;
}
.copyright p a {
	font-size:13px !important;
	color:#999;
}
.copyright p a:hover {
	color:#fff;
}

.rigtt_bot_content {
	width:100%;
	margin: 0px 0 0 0px;
}
.rigtt_bot_content p {
	margin: 7px 0 5px 0px;
	font-size:13px !important;
	color:#ccc !important;
}
.rigtt_bot_content p a {
	font-size:13px !important;
	color:#ccc;
}
.rigtt_bot_content p a:hover {
	color:#fff;
}
.text_right {
    text-align: right;
    padding:  25px 0 0 0px;
    color: #999;
}
.text_right p {
    font-size: 14px;
    line-height: 18px;
    margin:  5px 0 10px 0px;
}
.text_right p a {
    font-size: 14px;
    color: #999;
}
.text_right p a:hover {
    color: #fff;
}
/* Contact Us page css */

.login_sec {
    padding: 50px 0;
}
.applicant_details {
    background: #eee;
    box-shadow: -2px 2px 6px 0px #666;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 30px;
}
.location-map-area {
    padding: 0 0 50px 0;
}
.location-map-area h3 {
    margin: 0 0 30px 0;
}
.location-map-area h3 span {
    border-bottom: 2px solid #e96132;
    display: inline-block;
    padding-bottom: 10px;
}
.location-map {
    width: 100%;
    height: 400px;
}
.login_box {
    padding: 30px;
    background: #eee;
    box-shadow: -2px 2px 6px 0px #666;
    border-radius: 10px;
    overflow: hidden;
}
.login_box .control-label {
    margin-bottom: 5px;
    font-size: 15px;
}
.link {
    color: #e86032 !important;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none !important;
}

/* Contact Us page css */